*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Inter',sans-serif;

    background:#0F172A;

    color:white;

}
nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

}
.logo{

width:120px;

}
.hero{

height:100vh;

background-image:url("images/Campuhan.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

}

.overlay{

background:rgba(0,0,0,.45);

width:100%;

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}
